version: '3.8'

services:
  app:
    build: .
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://postgres:1234@db:5432/postgres
      - OPENWEATHER_API_KEY=${OPENWEATHER_API_KEY}
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - db
      - redis
    env_file:
      - .env

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7.2-alpine
    ports:
      - "6379:6379"

  test:
    build: .
    depends_on:
      - db
      - redis
    environment:
      - DATABASE_URL=postgresql://postgres:1234@db:5432/postgres
      - REDIS_URL=redis://redis:6379/0
      - OPENWEATHER_API_KEY=dummy_key
    command: ["/bin/sh", "-c", "echo 'Waiting for PostgreSQL to be ready (5s)...' && sleep 5 && echo 'Running tests...' && python -m pytest tests/ -v --tb=short"]
    volumes:
      - .:/app

volumes:
  pgdata: